<section id="nosotros" class="bg-light">
  <div class="container">
    
    <h2 class="text-center mb-4 animate-on-scroll">
      Sobre Nosotros
    </h2>
 <hr />
    <div class="row justify-content-center">
      <div class="col-lg-8">
        
        <p class="lead text-center mb-4 animate-on-scroll" data-animation-delay="100">
          Somos TyT ElectroSoluciones, una empresa con amplia experiencia principalmente en el sector eléctrico, dedicada a ofrecer soluciones integrales y 
          seguras para la industria y proyectos de gran envergadura.
        </p>
        
        <p class="text-center animate-on-scroll" data-animation-delay="200">
          Nuestra especialidad abarca desde complejas instalaciones electricas en el hambito industrial tanto como domiciliaria, 
          empalmes trifacicos y domiciliaros como TE1 hasta TE4 para energias renovables. Garantizando la eficacia energética y la 
          seguridad para las personas. Con trabajadores certificados SEC máxima .
        </p>
      </div>
    </div>
  </div>
</section>