<section id="service" class="d-flex flex-column">

    
    <div class="text-center mb-1 " >
        <h1 class="service-title text-light border border-success p-1" style="background-color: rgba(73, 78, 63, 0.61);">Servicios que ofrecemos</h1>
    </div>

    <div class="row " style="height: 70vh;">
<!-- ROW de descripción -->
        <div class="row justify-content-end ">
                    <!-- COL de descripción -->
                <div class="col-md-8 col-sm-8 col-lg-8 align-self-end"> 
                    <div class=" card descripcion-box p-2 shadow text-wrap" >
                        <div class="d-flex justify-content-center">
                            <div class="text-wrap" style="width: 20rem; height: 5rem;">
                                 <h3 class="mx-3" id="serviceTitle">Servicios</h3>

                            </div>
                            
                            <img id="iconel" src="img/service/man_indust_icon.png" class="rounded-circle service-icon" alt="Cinque Terre" style="width: 8rem;">

                        </div>
              
                        <hr>
                        <p id="serviceDesc" class="fs-1 overflow-auto" >La empresa ofrece instalaciones eléctricas nuevas, remodelaciones y puntos de carga para vehículos eléctricos, cumpliendo normativa SEC.
                            Realiza mantenimiento preventivo
                            Implementa soluciones de eficiencia energética, paneles solares y sistemas de automatización.
                            Desarrolla proyectos eléctricos, estudios de factibilidad y regularizaciones técnicas.
                            Además, diseña sistemas de iluminación y realiza conversiones a tecnología LED para mayor ahorro y eficiencia..</p>
                    </div>
                </div>     

        </div>


        <div class="col-md-8 mx-auto align-self-end mb-3">

       

            <!-- Carousel como menú -->
            <div id="serviceCarousel" class="carousel slide mt-5" data-bs-ride="carousel">

                <div class="carousel-inner">

                    <!-- ITEM 1 -->
                    <div class="carousel-item active"
                         data-title="Paneles solares"
                         data-description="Instalación de Paneles Solares Fotovoltaicos: Implementación de sistemas
                                solares fotovoltaicos conectados a la red  para autoconsumo, o
                                sistemas aislados para zonas sin acceso a la red, tanto para clientes
                                residenciales como comerciales e industriales."
                         data-bg="url('img/service/panel-solar.jpg')"
                          data-icon="img/service/panel_solar_icon.png">
>
                        <div class="d-block w-100 service-selector"></div>
                    </div>

                    <!-- ITEM 2 -->
                    <div class="carousel-item"
                         data-title="Iremodelacion y Ampliaciones"
                         data-description="Actualización, adecuación o expansión
                                de instalaciones eléctricas existentes para satisfacer nuevas necesidades,
                                aumentar la capacidad o cumplir con las normativas actuales."
                               data-bg="url('img/service/reparacion_electrica.jpg')"
                            data-icon="img/service/mante_electr_icon.png">
                        <div class="d-block w-100 service-selector"></div>
                    </div>

                    <!-- ITEM 3 -->
                    <div class="carousel-item"
                         data-title="Mantención"
                         data-description="Diseño y ejecución completa de redes
                                eléctricas para proyectos de construcción residenciales (casas,
                                departamentos), comerciales (locales, oficinas) e industriales (bodegas,
                                fábricas) desde cero. Cumplimiento estricto de la normativa SEC."
                         data-bg="url('img/service/intalacion_tablero_02.jpg')"
                          data-icon="img/service/man_indust_icon.png">
                        <div class="d-block w-100 service-selector"></div>
                    </div>

                                 <!-- ITEM 4 -->
                    <div class="carousel-item"
                         data-title="Carga Vehículos Eléctricos"
                         data-description="Puntos de Carga para Vehículos Eléctricos: Instalación profesional de
                                cargadores para vehículos eléctricos en hogares, edificios residenciales,
                                estacionamientos públicos y empresas, un servicio de creciente demanda en el
                                país."
                         data-bg="url('img/service/carga-auto-electrica.jpg')"
                          data-icon="img/service/carga_vehiculo_elect_icon.jpg">
                        <div class="d-block w-100 service-selector"></div>
                    </div>


                                      <!-- ITEM 5 -->
                    <div class="carousel-item"
                         data-title="Automatización y Domótica/Inmótica"
                         data-description="Instalación de sistemas inteligentes
                                        para el control y la gestión automatizada de la iluminación, climatización,
                                        seguridad y otros dispositivos eléctricos, contribuyendo al ahorro y la
                                        comodidad."
                         data-bg="url('img/service/domotica-inmotica.jpg')"
                         data-icon="img/service/domotica_icon.png">
                        <div class="d-block w-80 h-70 service-selector"></div>
                    </div>

                </div>

                <!-- Controles del carrusel -->
                <button class="carousel-control-prev" type="button" data-bs-target="#serviceCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#serviceCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>

            </div>

        </div>


    </div>


</section>
 



  <!--- 
  <div class="container mt-4">
    <h1 class="fw-bold">name service</h1>


  <div class="row mt-2">
    <div class="col-md-6">

    </div>


    <div class="col-md-6">
    <div class="service-box shadow">
    <h4 class="text-center fw-bold">descripción</h4>
    <hr />
    <p>descripción de los servicios</p>
    </div>
    </div>
    </div>
    </div>


    <div class="nav-bar d-flex justify-content-center gap-3">
    <div class="nav-item-custom">desarrollo proyectos electricos</div>
    <div class="nav-item-custom">Paneles </div>
    <div class="nav-item-custom">instalaciones Eléctricas </div>
    <div class="nav-item-custom">consultoria</div>
    <div class="nav-item-custom">Automatizacion</div>
    </div>
  
  -->